# ==============================
# Main Project .gitignore
# ==============================

# --- OS-specific ---
.DS_Store
Thumbs.db

# ---To Do List Backend (Spring Boot) ---
HELP.md
todoAppBackend/target/
todoAppBackend/.mvn/wrapper/maven-wrapper.jar
!todoAppBackend/**/src/main/**/target/
!todoAppBackend/**/src/test/**/target/

### STS ###
todoAppBackend/.apt_generated
todoAppBackend/.classpath
todoAppBackend/.factorypath
todoAppBackend/.project
todoAppBackend/.settings
todoAppBackend/.springBeans
todoAppBackend/.sts4-cache

### IntelliJ IDEA ###
todoAppBackend/.idea
todoAppBackend/*.iws
todoAppBackend/*.iml
todoAppBackend/*.ipr

### NetBeans ###
todoAppBackend/nbproject/private/
todoAppBackend/nbbuild/
todoAppBackend/dist/
todoAppBackend/nbdist/
todoAppBackend/.nb-gradle/
todoAppBackend/build/
!todoAppBackend/**/src/main/**/build/
!todoAppBackend/**/src/test/**/build/

### VS Code ###
todoAppBackend/.vscode/


# ==============================
# Frontend (React)
# ==============================
# Logs
todoAppFrontend/logs
todoAppFrontend/*.log
todoAppFrontend/npm-debug.log*
todoAppFrontend/yarn-debug.log*
todoAppFrontend/yarn-error.log*
todoAppFrontend/pnpm-debug.log*
todoAppFrontend/lerna-debug.log*

todoAppFrontend/node_modules
todoAppFrontend/dist
todoAppFrontend/dist-ssr
todoAppFrontend/*.local

# Editor directories and files
todoAppFrontend/.vscode/*
!todoAppFrontend/.vscode/extensions.json
todoAppFrontend/.idea
todoAppFrontend/.DS_Store
todoAppFrontend/*.suo
todoAppFrontend/*.ntvs*
todoAppFrontend/*.njsproj
todoAppFrontend/*.sln
todoAppFrontend/*.sw?